<head>
    <title>Flask-SocketIO Image Update</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        document.addEventListener('DOMContentLoaded', (event) => {
            var socket = io();
            socket.on('html_updated', function(msg) {
                var iframe = document.getElementById('iframe');
                iframe.src = '../static/html-css/' + msg.data + '.html';  // Prevent caching
            });
        });
    </script>
</head>
<body style="margin: 0; height: 100vh; width: 100vw; display: flex; justify-content: center; align-items: center;">
    <iframe id="iframe" src="../static/html-css/navigation.html" style="border: none; width: 100%; height: 100%;"></iframe>
</body>
</html>